
<div class="centerart">
{% for item in articles %}
<div id="articles">
        
		<ul><li>
      <div class="cartouches ">
		
        <div class="card horizontal">
          <div class="card-image">
            <img src="https://cdn.pixabay.com/photo/2017/03/15/13/27/rough-horn-2146181_960_720.jpg">
          </div>
          <div class="card-content">
            <span class="card-title">{{ item.title }}</span>
            <p>{{ item.content }}</p>
          </div>
          <div class="card-action">
            <a href="#">Lire</a>
          </div>
          </ul></li>
          </div>
          {% endfor %}
      </div>





